body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  font-family: 'Roboto', sans-serif;

}
.hearder{
  width: 100%;
  height: 70px;
  background-color: burlywood;
  overflow: hidden;
  display: flex;
  position: sticky;
}
.logo{
  margin-left: 78px;
  height: 70px;
}
ul{
 float: left;
 list-style: none;
 display: flex;
 margin-left: 150px;
 overflow: hidden;

}
ul li{
  display: flex;
  align-items: center;


}
ul li a{
  text-decoration: none;
  font-size: 34px;
  font-weight: 900px;
  padding: 5px 20px;
  justify-content: center;
}
ul li a:hover{
  background-color: blue;
}

/* start home */
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2{
  flex-basis: 50%;
  min-width: 300px;
  
}
.col-2 img{
  max-width: 100%;
  padding: 50px o;
}
.col-2 h1{
  font-size: 60px;
  line-height: 1.2;
  margin: 25px 0;
  margin-left: 100px;
}
.btn{
  display: inline-block;
  background: #ff523b;
  color: #ffffff;
  padding: 9px 30px;
  border-radius: 35px;
  text-decoration: none;
  margin-left: 100px;
  transition: background 0.5s;
  
}
.btn:hover{
  background: #ffffff;
}
p{
  font-size: 18px;
  font-weight: 800px;
  margin-left: 80px;
}


